body{
    background-image: url('./img/b1.jpg');
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Roboto Slab', serif;
}
.card{
    width: 100%;
    height: 300px;
    overflow-y: auto;
    text-align: left;
    background: #495d6f1f;
    color: white;
}
.card-block{
    padding: 5px;
}
.activeMessages{
    font-weight: 100;
    font-style: italic;
    color: white;
}
h1{
    padding: 30px;
    font-size: 50px;
    font-weight: 900;
    color: #495d6f1f;
    box-shadow: 10px;
    text-shadow:1px 1px rgb(80, 77, 77);
}
.createUser{
    padding-top: 40px;
}
input#username{
    background: #495d6f1f;
    color: white;
}
.card.shadow.p-3.mb-5.rounded{
    background: #495d6f1f;
    color: #6f6969;
}
.textarea#textarea{
    background: #495d6f1f;
    color: white;
}
.userList{
    background: #495d6f1f;
    color: white;
}